/*Default*/
body,
header,
footer {
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
p {
	margin: 0;
}
/*Body*/
.site-inner {
	max-width: 100%;
}
.site-content {
	padding: 0;
}
header#masthead {
	padding: 0;
}
.main-navigation ul li a span {
	text-transform: uppercase;
}
#primary {
	float: none;
	margin: 0;
	width: 100%;
}
/*Menu*/
.page-id-12 img.custom-logo {
	width: 211px;
}
.page-id-16 img.custom-logo,
.page-id-18 img.custom-logo,
.page-id-92 img.custom-logo,
.page-id-14 img.custom-logo {
	width: 100%;
}
.primary-menu li {
	text-align: center;
}
.page-id-16 header#masthead,
.page-id-18 header#masthead,
.page-id-92 header#masthead,
.page-id-14 header#masthead {
	width: 1100px;
	margin: 0 auto;
}
.page-id-16 .site-branding,
.page-id-18 .site-branding,
.page-id-92 .site-branding,
.page-id-14 .site-branding {
	width: 220px;
	padding: 17px;
	margin: 0 auto;
}

/*  ---TOP PAGE---  */
.page-id-12 header#masthead {
	padding: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
}
.page-id-12 .header-contact-info {
	position: absolute;
	top: 108px;
	right: 178px;
}
.page-id-12 .site-branding {
	width: 56px;
	position: absolute;
	left: 47.6%;
	top: 12px;
}
.page-id-12 li#menu-item-22 {
	margin-right: 15%;
}
.page-id-12 li#menu-item-21 {
	margin-left: 15%;
}
div#site-header-menu {
	width: 60%;
	margin: 9px auto;
}
.page-id-16 div#site-header-menu,
.page-id-18 div#site-header-menu,
.page-id-92 div#site-header-menu,
.page-id-14 div#site-header-menu {
	width: 50%;
}
.page-id-12 .header-contact-info {
	border: none;
	padding: 0;
}
.header-contact-info {
	border-left: 2px solid #fff;
	padding-left: 1.5%;
}
header.entry-header {
	display: none;
}
.main-navigation a {
	padding: 10px 41px;
}
.page-id-12 .header-contact-info {
	line-height: normal;
}
.header-contact-info {
	line-height: 25px;
}
.header-contact-info > p:nth-child(2) {
	font-size: 1.8em;
}

/*YT Link*/
.kimenya-youtube {
	width: 22%;
	position: absolute;
	top: 10.4%;
	right: 8%;
}
.kimenya-youtube a img {
	width: 100%;
}

/*Top News*/
.kimenya-news {
	position: relative;
	width: 79%;
	margin: 0 auto;
	padding-top: 5%;
}
.kimenya-news-header {
	position: absolute;
	z-index: 0;
	top: 21%;
	left: 29%;
	width: 42%;
}
.kimenya-news-header img {
	width: 100%;
}
.kimenya-check-box {
	margin: 0;
	float: right;
}
.kimenya-news-box {
	margin-right: 3.5%;
	float: left;
}
.kimenya-news:after {
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0;
}
.kimenya-news-box, .kimenya-check-box {
	width: 48%;
	position: relative;
}
.kimenya-fb {
	position: absolute;
	bottom: -4px;
	margin: 5%;
	width: 91%;
}
.kimenya-news-box img, .kimenya-check-box img {
	width: 100%;
}
.kimenya-strain {
	margin-top: 44px;
	background-image: url(images/top_strain_bg.png);
	background-size: 100%;
	height: 334px;
}
.kimenya-strain-right {
	padding: 0px;
	float: right;
	width: 59%;
}
.kimenya-strain > div > p:nth-child(2) {
	margin-left: 14%;
}
.kimenya-button1, .kimenya-button2 {
	width: 79%;
	margin: 0 auto;
	margin-top: 33px;
}
.kimenya-button1 a img, .kimenya-button2 a img {
	width: 100%;
}

.kimenya-contact-info {
	width: 79%;
	margin: 0 auto;
}
.kimenya-contact-button {
	width: 49%;
	float: left;
}
.kimenya-contact-button:last-child {
	width: 49%;
	float: right;
}
.site-main {
	margin-bottom: 15px !important
}
.kimenya-contact-info:after {
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
}

/* map */
.kimenya-googlemap {
	width: 100%;
	margin-top: 25px;
}

/*footer*/
.content-bottom-widgets {
	border-top: 4px solid #b30d0d !important;
}
.widget {
	border: none;
}
.widget-area {
	margin-bottom: 3% !important;
}
.widget-area .menu-footer-menu-container {
	text-align: center;
}
.widget-area ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.widget-area ul li {
	margin: 0 4.9%;
	text-align: center;
	display: inline-block;
}
.widget-area ul li a {
	color: #fff;
}
.widget-area ul li a span {
	display: none;
}
#colophon {
	padding: 0;
	margin: 0;
}
.site-info {
	text-align: center;
	margin: 10px auto;
}
.header-contact-info-bottom {
	text-align: center;
	line-height: 29px;
	margin-bottom: 2%;
}
.header-contact-info-bottom > p:nth-child(2) {
	font-size: 1.8em;
}
.kimenya-brand-bottom {
	width: 16%;
	margin: 2% auto;
}
.kimenya-brand-bottom a img {
	width: 100%;
}

/*Access*/

.access-kimenya-contact p:first-child,
.access-kimenya-contact p:last-child {
	font-size: 22px;
}
.access-kimenya-contact p:nth-child(2) {
	font-size: 35px;
}
.access-kimenya {
	width: 16%;
	margin: 0 auto;
}
.access-kimenya-contact {
	margin-bottom: 2%;
	line-height: normal;
}

/*News*/
.kimenya-news-section {
	margin: 50px 0;
}
.news {
	margin-bottom: 35px;
}
.news a {
	color: #fff;
}
#bxSlider {
	margin: 15px 0;
}
/*Recruit*/
.recruit-statement {
	margin: 6% 0;
}

/* Menu Page */
.menu-details {
	width: 42%;
	margin: 0 auto;
	margin-bottom: 25px;
}
.detail:nth-child(1) {
	width: 135px;
	float: left;
}
#post-16 > div > div > div:nth-child(1) > div.menu-box > div:nth-child(3) > div:nth-child(1),
#post-16 > div > div > div:nth-child(2) > div.menu-box > div > div:nth-child(1) {
	width: 293px;
}
.detail {
	display: inline-block;
	margin-right: 20px;
}
.detail:nth-child(2) {
	font-size: 22px;
	margin-top: 3%;
}
.detail:last-child {
	font-size: 44px;
	margin: 0;
	float: right;
}
.menu-details:after {
	content: ".";
	clear: both;
	visibility: hidden;
	display: block;
	height: 0;
}
.menu-one-column-detail {
	width: 44%;
	margin: 0 auto;
	font-size: 30px;
}
.menu-one-column-detail .one-column-detail p:first-child {
	float: left;
}
.menu-one-column-detail .one-column-detail p:last-child {
	float: right;
}
.menu-one-column-detail .one-column-detail p {
	display: inline-block;
}
.menu-one-column-detail .one-column-detail:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
.menu-one-column-detail p:nth-child(2) {
	font-size: 44px;
}
.menu-one-column-detail {
	margin-bottom: 5%;
}
div:nth-child(2) > div.menu-headline {
	position: relative;
}
.menu-headline-seal {
	position: absolute;
	bottom: -80px;
	right: 8%;
	width: 19%;
}
.bx-pager.bx-default-pager {
	display: none;
}
.bx-controls.bx-has-pager.bx-has-controls-direction {
	display: none;
}
.slider bx-clone {
	width: 307.5px !important;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
	div#site-header-menu {
		width: 77%;
	}
	.page-id-12 .header-contact-info {
		top: 100px;
		right: 36px;
	}
	.kimenya-strain {
		background-size: 128% 100%;
	}
}
@media screen and (max-width: 1000px) {
	div#site-header-menu {
		width: 87%;
	}
}
@media screen and (max-width: 909px) {
	.entry-content {
		margin: 0;
	}
	.kimenya-news {
		width: 100%;
	}
	.kimenya-news-header {
		position: static;
		margin: 0 auto;
	}
	.kimenya-news-box, .kimenya-check-box {
		display: block;
		margin: 0 auto;
	}
	.page-id-12 .site-branding {
		width: 220px;
		position: static;
		padding: 17px;
	}
	.kimenya-youtube {
		top: 5.8%;
		right: 7%;
	}
	.page-id-12 img.custom-logo {
		width: 100%;
	}
	.page-id-12 .header-contact-info {
		top: 11px;
		right: 0;
		text-align: right;
		padding: 10px;
		font-size: 13px;
	}
	.page-id-12 header#masthead,
	.page-id-12 .site-branding {
		position: static;
	}
	.page-id-12 li#menu-item-22 {
		margin-right: 0;
	}
	.page-id-12 li#menu-item-21 {
		margin-left: 0;
	}
	.header-contact-info,
	.site-footer .main-navigation {
		display: none;
	}
	.kimenya-strain {
		background-size: 170% 100%;
	}
	.site-header-main {
		padding: 0 15px;
	}
	.page-id-16 header#masthead,
	.page-id-18 header#masthead,
	.page-id-92 header#masthead,
	.page-id-14 header#masthead,
	.page-id-12 header#masthead {
		width: 100%;
	}
	.page-id-16 .site-branding,
	.page-id-18 .site-branding,
	.page-id-92 .site-branding,
	.page-id-14 .site-branding,
	.page-id-12 .site-branding {
		margin: 0 auto;
	}
	.kimenya-top p {
		padding: 3%;
		text-align: left !important;
	}
	.kimenya-contact-info {
		width: 79%;
	}
	.kimenya-contact-button {
		width: 48%;
	}
	.kimenya-news-box,
	.kimenya-check-box {
		float: none;
		width: 80%;
		margin-bottom: 5%;
	}
	.menu-details {
		width: 70%;
	}
	.menu-one-column-detail {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.kimenya-news-box, .kimenya-check-box {
		width: 90%;
	}
	.kimenya-strain-right {
		width: 67%;
	}
	.kimenya-strain {
		margin: 0;
	}
	.kimenya-strain > div > p:nth-child(2) {
		margin-right: 14%;
	}
	.kimenya-button1, .kimenya-button2 {
		width: 90%;
	}
	.kimenya-contact-info {
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	.kimenya-top p {
		padding: 5%;
		font-size: 0.9em;
		text-align: left !important;
	}
	.kimenya-youtube {
		width: 45%;
		position: static;
		margin: 3% auto;
	}
	.kimenya-news-header,
	.kimenya-news-box,
	.kimenya-check-box {
		width: 90%;
	}
	.kimenya-strain {
		background-size: 280% 100%;
		margin-bottom: : 6%;
	}
	.kimenya-strain-right {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
	.kimenya-strain > div > p:nth-child(2) {
		margin: 0 auto;
		width: 90%;
	}
	.kimenya-button1, .kimenya-button2 {
		width: 90%;
		margin-top: 3%;
	}
	.kimenya-googlemap {
		margin-top: 0;
	}
	.kimenya-contact-info {
		width: 90%;
	}
	.kimenya-contact-button {
		display: block;
		width: 100%;
		margin-bottom: 3%;
	}
	.kimenya-contact-button:last-child {
		width: 100%;
	}
	.detail, .detail:nth-child(1),
	.detail:nth-child(2),
	.detail:last-child,
	.menu-one-column-detail,
	.menu-one-column-detail p:nth-child(2) {
		font-size: 20px;
		float: none;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	.menu-one-column-detail {
		margin-bottom: 18%;
	}
	.menu-one-column-detail .one-column-detail p:first-child,
	.menu-one-column-detail .one-column-detail p:last-child {
		float: none;
	}
	.menu-details,
	.menu-one-column-detail {
		width: 90%;
		margin: 6% auto;
	}
	.menu .main-header {
		padding: 0 4%;
	}
	.menu-headline-seal {
		position: static;
		margin: 0 auto 5%;
		width: 33%;
	}
	.kimenya-brand-bottom {
		width: 45%;
		margin: 5% auto;
	}
	.widget-area ul li {
		margin: 0 2.9%;
		font-size: 0.9em;
	}
	.recruit-statement h1 {
		font-size: 1.5em;
	}
	.access-kimenya-contact {
		line-height: normal;
		margin-bottom: 2%;
	}
	.access-kimenya-contact p:first-child, .access-kimenya-contact p:last-child {
		font-size: 1em;
	}
	.access-kimenya-contact p:nth-child(2) {
		font-size: 1.8em;
	}
	.access-kimenya {
		width: 60%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 375px) {
	.kimenya-youtube {
		width: 60%;
	}
	.kimenya-top p {
		padding: 5%;
		font-size: 0.9em;
		text-align: left !important;
	}
	.kimenya-news-header,
	.kimenya-news-box,
	.kimenya-check-box {
		width: 94%;
	}
	.kimenya-strain {
		background-size: 352% 100%;
		margin: 0;
	}
	.kimenya-button1, .kimenya-button2 {
		width: 94%;
	}
	.kimenya-contact-info {
		width: 95%;
	}
	.kimenya-contact-button {
		display: block;
		width: 100%;
		margin-bottom: 3%;
	}
	.kimenya-contact-button:last-child {
		width: 100%;
	}
	.kimenya-brand-bottom {
		width: 55%;
		margin: 7% auto;
	}
	.detail, .detail:nth-child(1),
	.detail:nth-child(2),
	.detail:last-child,
	.menu-one-column-detail {
		font-size: 18px;
		float: none;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	.menu-one-column-detail {
		margin-bottom: 7%;
	}
	.menu-one-column-detail .one-column-detail p:first-child,
	.menu-one-column-detail .one-column-detail p:last-child {
		float: none;
	}
	.menu-details,
	.menu-one-column-detail {
		width: 90%;
	}
	.menu .main-header {
		padding: 0 4%;
	}
	.menu-headline-seal {
		position: static;
		margin: 0 auto 5%;
		width: 33%;
	}
	.kimenya-strain-right {
		margin: 0 auto;
		width: 94%;
	}
	.kimenya-strain > div > p:nth-child(2) {
		margin: 0px auto;
		width: 96%;
	}
}
@media screen and (max-width: 320px) {
	.kimenya-top p {
		padding: 4%;
		font-size: 0.8em;
	}
	.menu-details, .menu-one-column-detail {
		width: 92%;
	}
}